@import url("./__dot/slider__dot.css");
@import url("./__page-control/slider__page-control.css");
@import url("./__button/slider__button.css");
@import url("./__opacity-gradient/slider__opacity-gradient.css");

.slider {
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 0;
}

@media (max-width: 1279px) {
  .slider {
    justify-content: start;
  }
}
