@import url("./__date/article-card__date.css");
@import url("./__paragraph/article-card__paragraph.css");
@import url("./__source/article-card__source.css");
@import url("./__title/article-image__title.css");

.article-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;

  padding: calc(100% * 17 / 25 + 20px) 24px 24px;
  background-color: #fff;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 1023px) {
  .article-card {
    padding: calc(100% * 17 / 25 + 16px) 16px 16px;
  }
}

.article-card:nth-of-type(1) {
  background-image: url("../../images/image_01.png");
}
.article-card:nth-of-type(2) {
  background-image: url("../../images/image_02.png");
}

.article-card:nth-of-type(3) {
  background-image: url("../../images/image_03.png");
}
