.github__button {
  display: none;
}

@media (max-width: 767px) {
  .github__button {
    display: inline-block;
    border: 1px solid #1a1b22;
    background-color: Transparent;
    width: calc(100% - 32px);
    margin: 16px auto 0;
  }
}
