.section__author-photo {
  border-radius: 100%;
  width: 464px;
}

@media (max-width: 1023px) {
  .section__author-photo {
    width: 232px;
  }
}

@media (max-width: 767px) {
  .section__author-photo {
    order: -1;
    width: 272px;
    align-self: center;
    margin-bottom: 24px;
  }
}
