.button_search {
  width: 168px;
  right: 0px;
  color: #fff;
  background: #2f71e5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border: none;
  position: absolute;
  right: calc((100vw - 608px) / 2);
  margin: 0 auto;
}

.button_search:hover {
  background: #347eff;
}

.button_search:active {
  background: #2a65cc;
}

@media (max-width: 640px) {
  .button_search {
    position: static;
    width: 100%;
  }
}
