@import url("./__link/header__link.css");
@import url("./__logo/header__logo.css");
@import url("./_black-content/header_black-content.css");
@import url("./_white-content/header_white-content.css");
@import url("./_absolute/header_absolute.css");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 0 calc((100vw - 1232px) / 2);
}

@media (max-width: 1279px) {
  .header {
    padding: 0 40px;
  }
}

@media (max-width: 767px) {
  .header {
    height: 56px;
  }
}

@media (max-width: 449px) {
  .header {
    padding: 0 16px;
  }
}
